<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>admin</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>YBgOMLyjUCXVdtKjErDzZ39aPSvfUclu2Mn/kOvX446EQRTVOAIZIkyJTN1TUhKJsy3oA2ifjWF015+uEmBNJ8rlPPn0clZUnYhUt0YOCVI=</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
        <au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>mypipleline00111</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <selectedJob>CreateTargetEnvironment</selectedJob>
          <noOfDisplayedBuilds>10</noOfDisplayedBuilds>
          <buildViewTitle></buildViewTitle>
          <triggerOnlyLatestJob>false</triggerOnlyLatestJob>
        </au.com.centrumsystems.hudson.plugin.buildpipeline.BuildPipelineView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$5bmVNcIjnpY9qLpn0gcvgu7Om0H9waceye5A.9PC2jJM6lvLnKsnm</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>admin@admin.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>